services:
  ears:
    build:
      context: ..
      dockerfile: apps/ears/Dockerfile
    image: banananet-ears
    init: true
    stdin_open: true
    tty: true
    restart: unless-stopped
    env_file: ears.env
    environment:
      TZ: Australia/Melbourne
